version: "3.8"

services:
  db:
    image: mysql:5.7
    platform: linux/x86_64
    container_name: gorm_test_db
    environment:
      MYSQL_ROOT_PASSWORD: pass
      MYSQL_DATABASE: gorm_test_db
    ports:
      - 3316:3306
